body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(147, 200, 228), #e0e759);
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-table {
    width: 100%;
    margin: 0 auto;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
}

.user-table th {
    background-color: whitesmoke;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    opacity: 0.7;
}

.button {
    margin-bottom: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: whitesmoke;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.button:hover {
    opacity: 0.7;
}

.input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border: none;
}

.addbutton{
    margin-bottom: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: dimgrey;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.addbutton:hover {
    opacity: 0.7;
}